SERVER_PORT=3000
SHNORR_PRIVATE_KEY=<private key>
ETH_PRIVATE_KEY=<private key>

TEST_NETWORK_ID=<test network id>
TEST_NETWORK_PROVIDER="http://localhost:8545"

HTTP_PROVIDER_GANACHE="http://localhost:8545"
HTTP_PROVIDER_ETH="https://rpc.ankr.com/eth"
HTTP_PROVIDER_ROPSTEN="https://rpc.ankr.com/eth_ropsten"
HTTP_PROVIDER_RINKEBY="https://rpc.ankr.com/eth_rinkeby"
HTTP_PROVIDER_BSC="https://rpc.ankr.com/bsc"
HTTP_PROVIDER_BSCTEST="https://rpc.ankr.com/bsc_testnet_chapel"
HTTP_PROVIDER_FTM="https://rpc.ankr.com/fantom"
HTTP_PROVIDER_FTMTEST="https://rpc.ankr.com/fantom_testnet"
HTTP_PROVIDER_POLYGON="https://rpc.ankr.com/polygon"
HTTP_PROVIDER_MUMBAI="https://rpc.ankr.com/polygon_mumbai"

### pionerV1_oracle

# Tiingo Forex API Configuration
API_FX_TIINGO_URL_BEFORE_ASSET=https://api.tiingo.com/tiingo/fx/top?tickers=
API_FX_TIINGO_URL_AFTER_ASSET=&token=23bd55ccfee87d0024961bb5820ece900d6cb6ab
API_FX_TIINGO_BID_FIELD=bidPrice
API_FX_TIINGO_ASK_FIELD=askPrice

# Financial Modeling Prep Forex API Configuration
API_FX_FMP_URL_BEFORE_ASSET=https://financialmodelingprep.com/api/v4/forex/last/
API_FX_FMP_URL_AFTER_ASSET=?apikey=26af8bd5b8c32ba09c0ad04fbd522441
API_FX_FMP_BID_FIELD=bid
API_FX_FMP_ASK_FIELD=ask

# Tiingo Stocks API Configuration
API_USSTOCK_TIINGO_URL_BEFORE_ASSET=https://api.tiingo.com/iex/?tickers=
API_USSTOCK_TIINGO_URL_AFTER_ASSET=&token=23bd55ccfee87d0024961bb5820ece900d6cb6ab
API_USSTOCK_TIINGO_BID_FIELD=bidPrice
API_USSTOCK_TIINGO_ASK_FIELD=askPrice

# Financial Modeling Prep Stocks API Configuration
API_USSTOCK_FMP_URL_BEFORE_ASSET=https://financialmodelingprep.com/api/v4/batch-pre-post-market/
API_USSTOCK_FMP_URL_AFTER_ASSET=?apikey=26af8bd5b8c32ba09c0ad04fbd522441
API_USSTOCK_FMP_BID_FIELD=bid
API_USSTOCK_FMP_ASK_FIELD=ask
