SERVER_PORT=3000
SHNORR_PRIVATE_KEY=<private key>
ETH_PRIVATE_KEY=<private key>

TEST_NETWORK_ID=<test network id>
TEST_NETWORK_PROVIDER="http://localhost:8545"

HTTP_PROVIDER_GANACHE="http://localhost:8545"
HTTP_PROVIDER_ETH="https://rpc.ankr.com/eth"
HTTP_PROVIDER_ROPSTEN="https://rpc.ankr.com/eth_ropsten"
HTTP_PROVIDER_RINKEBY="https://rpc.ankr.com/eth_rinkeby"
HTTP_PROVIDER_BSC="https://rpc.ankr.com/bsc"
HTTP_PROVIDER_BSCTEST="https://rpc.ankr.com/bsc_testnet_chapel"
HTTP_PROVIDER_FTM="https://rpc.ankr.com/fantom"
HTTP_PROVIDER_FTMTEST="https://rpc.ankr.com/fantom_testnet"
HTTP_PROVIDER_POLYGON="https://rpc.ankr.com/polygon"
HTTP_PROVIDER_MUMBAI="https://rpc.ankr.com/polygon_mumbai"

### $env:APPS_PIONERV1_VARS='{"PROXY_NUMBERS": "2", "PROXY1": "https://vps-b9bb65e6.vps.ovh.ca:5000/api/v1/get_pair_price?key=", "PROXY1KEY": "123", "PROXY2": "https://vps-b9bb65e6.vps.ovh.ca:5000/api/v1/get_pair_price?key=", "PROXY2KEY": "123"}'
APPS_PIONERV1_VARS={"PROXY_NUMBERS": "5", "PROXY1": "https://vps-b9bb65e6.vps.ovh.ca:5000/api/v1/get_pair_price?key=","PROXY1KEY": "123", "PROXY2": "https://vps-b9bb65e6.vps.ovh.ca:5000/api/v1/get_pair_price?key=","PROXY2KEY": "123","PROXY3": "https://vps-b9bb65e6.vps.ovh.ca:5000/api/v1/get_pair_price?key=","PROXY3KEY": "123","PROXY4": "https://vps-b9bb65e6.vps.ovh.ca:5000/api/v1/get_pair_price?key=","PROXY4KEY": "123","PROXY5": "https://vps-b9bb65e6.vps.ovh.ca:5000/api/v1/get_pair_price?key=","PROXY5KEY": "123"}

